.none {
  list-style: none;
  padding-left: 0;
}

.bigger {
  font-size: larger;
  margin-bottom: 0;
}

.small {
  font-size: large;
}
.smaller {
  font-size: medium;
  padding: 0;
  margin: 0;
}

hr.divider {
  height: 1px;
}
